# --- Environment Variables ---

# --- Discord Settings
# Prefix is ``DISCORD_`` for all Discord settings
DISCORD_TOKEN=NotARealToken
DISCORD_DEV_GUILD_ID=IDOfYourDevGuild
DISCORD_DEV_USER_ID=IDOfYourDevUser

# --- Project Settings
# No Prefix for Project settings
LITESTAR_APP=src.app:create_app
WEB_URL=https://byte-bot.app
SECRET_KEY=ThisIsNotAProductionToken
ENVIRONMENT=dev
DEBUG=True

# --- Database Settings
# Prefix is ``DB_`` for all Database settings
DB_URL=

# --- Server Settings
# Prefix is ``SERVER_`` for all Server settings
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
SERVER_HTTP_WORKERS=1

# --- Logging Settings
# Prefix is ``LOG_`` for all Logging settings
LOG_LEVEL=10

# --- API Settings
# Prefix is ``API_`` for all API settings

# --- OpenAPI Settings
# Prefix is ``OPENAPI_`` for all OpenAPI settings


# --- HTTP Settings
# Prefix is ``HTTP_`` for all HTTP Client settings
