# dependencies
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# debug
*.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# project
!/src/byte_bot/lib/
!/src/server/lib/
!/src/server/lib/
!/docs/web/api/lib/
