# dependencies
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# debug
*.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# project
!/byte_bot/byte_bot/lib/
!/byte_bot/server/lib/
!/byte_bot/server/lib/
!/docs/web/api/lib/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.venv
venv/
ENV/
env/
