default_language_version:
  python: "3.12"
default_install_hook_types: [commit-msg, pre-commit]
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.6"
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/sourcery-ai/sourcery
    rev: v1.40.0
    hooks:
      - id: sourcery
        args: [--diff=git diff HEAD, --no-summary]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: >
          (?x)^(
              .*\.json |.*\.svg |docs/changelog.rst
          )$
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        exclude: "_templates|.git"
  #   - repo: https://github.com/thibaudcolas/curlylint
  #     rev: v0.13.1
  #     hooks:
  #       - id: curlylint
  #         args: ["--format", "stylish"]
  - repo: https://github.com/python-formate/flake8-dunder-all
    rev: v0.5.0
    hooks:
      - id: ensure-dunder-all
        exclude: "test*|examples*|tools"
        args: ["--use-tuple"]
  #   - repo: https://github.com/pre-commit/mirrors-mypy
  #     rev: "v1.6.1"
  #     hooks:
  #       - id: mypy
  #         exclude: "tools|docs"
  #         additional_dependencies:
  #           [
  #             annotated_types,
  #             httpx,
  #             httpx_sse,
  #             hypothesis,
  #             jsbeautifier,
  #             pydantic>=2,
  #             pydantic-extra-types,
  #             pytest,
  #             pytest-lazy-fixture,
  #             pytest-mock,
  #             pytest_docker,
  #             python-dotenv,
  #             click,
  #             rich,
  #             rich-click,
  #             structlog,
  #             uvicorn,
  #             prometheus_client,
  #             litestar,
  #             polyfactory,
  #             discord-py,
  #           ]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright
        additional_dependencies:
          [
            advanced_alchemy,
            annotated_types,
            anyio>=3,
            asyncpg,
            asyncpg-stubs,
            brotli,
            click,
            cryptography,
            fast-query-parsers>=1.0.2,
            fsspec,
            greenlet,
            httpx>=0.22,
            httpx_sse,
            hypothesis,
            jinja2>=3.1.2,
            jsbeautifier,
            mako>=1.2.4,
            msgspec>=0.18.2,
            multidict>=6.0.2,
            opentelemetry-instrumentation-asgi,
            opentelemetry-sdk,
            polyfactory>=2.6.3,
            prometheus_client,
            "pydantic>=2",
            pydantic-extra-types,
            pydantic-settings,
            pytest,
            pytest-asyncio,
            pytest-cov,
            pytest-lazy-fixture,
            pytest-mock,
            pytest-rerunfailures,
            pytest-timeout,
            python-dotenv,
            pyyaml,
            rich-click,
            rich>=13.0.0,
            structlog,
            types-pytest-lazy-fixture,
            types-pyyaml,
            typing-extensions,
            "uvicorn[standard]",
            uvloop>=0.18.0,
            "litestar[cli,structlog,standard]",
            types-click,
            discord-py,
          ]
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: "v1.0.2"
    hooks:
      - id: sphinx-lint
