default_language_version:
  python: "3.13"
default_install_hook_types: [commit-msg, pre-commit, pre-push]
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: >
          (?x)^(
              .*\.json |.*\.svg |docs/changelog.rst
          )$
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
      - id: biome-check
        additional_dependencies: ["@biomejs/biome@2.3.7"]
  #   - repo: https://github.com/thibaudcolas/curlylint
  #     rev: v0.13.1
  #     hooks:
  #       - id: curlylint
  #         args: ["--format", "stylish"]
  - repo: https://github.com/python-formate/flake8-dunder-all
    rev: v0.5.0
    hooks:
      - id: ensure-dunder-all
        exclude: "test*|examples*|tools"
        args: ["--use-tuple"]
  #   - repo: https://github.com/pre-commit/mirrors-mypy
  #     rev: "v1.6.1"
  #     hooks:
  #       - id: mypy
  #         exclude: "tools|docs"
  #         additional_dependencies:
  #           [
  #             annotated_types,
  #             httpx,
  #             httpx_sse,
  #             hypothesis,
  #             jsbeautifier,
  #             pydantic>=2,
  #             pydantic-extra-types,
  #             pytest,
  #             pytest-lazy-fixture,
  #             pytest-mock,
  #             pytest_docker,
  #             python-dotenv,
  #             click,
  #             rich,
  #             rich-click,
  #             structlog,
  #             uvicorn,
  #             prometheus_client,
  #             litestar,
  #             polyfactory,
  #             discord-py,
  #           ]
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c "uv run --no-sync ty check services/bot/src packages/byte-common/src"
        language: system
        types: [python]
        pass_filenames: false
      - id: pre-push-ci
        name: Run CI checks before push
        entry: make ci
        language: system
        stages: [pre-push]
        pass_filenames: false
        verbose: true
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.2
    hooks:
      - id: sphinx-lint
