providers = ['python']

[variables]
    PIP_DISABLE_PIP_VERSION_CHECK = '1'

[phases.setup]
nixPkgs = ['...']

[phases.install]
cmds = [
     'python -m venv --copies /opt/venv && . /opt/venv/bin/activate && pip install -U uv && uv sync',
]

[start]
cmd = 'uv run python -m byte_api.scripts.migrate && uv run litestar run --app byte_api.app:create_app --host 0.0.0.0 --port $PORT --workers 2'
