<header>
  <div
    class="navbar {{ navbar_color | default('bg-byte-white dark:bg-byte-dark') }} text-base-content dark:text-byte-blue"
  >
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <!-- https://feathericons.dev/?search=menu&iconset=feather -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon h-5 w-5"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <line x1="3" x2="21" y1="12" y2="12"></line>
            <line x1="3" x2="21" y1="6" y2="6"></line>
            <line x1="3" x2="21" y1="18" y2="18"></line>
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-byte-white dark:bg-byte-dark text-base-content dark:text-byte-blue rounded-box w-52"
        >
          <li><a href="/" class="hover:dark:text-byte-blue">Home</a></li>
          <li>
            <a href="/dashboard" class="hover:dark:text-byte-blue">Dashboard</a>
          </li>
          <li>
            <a href="/status" class="hover:dark:text-byte-blue">Status</a>
          </li>
          <li><a href="/about" class="hover:dark:text-byte-blue">About</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost normal-case text-xl" href="/">
        <img
          class="h-12 w-auto align-middle"
          src="static/logo.svg"
          alt="Byte Logo"
        />
      </a>
    </div>
    <div class="navbar-end">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <!-- https://feathericons.dev/?search=codepen&iconset=feather -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon h-5 w-5"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <polygon
              points="12 2 22 8.5 22 15.5 12 22 2 15.5 2 8.5 12 2"
            ></polygon>
            <line x1="12" x2="12" y1="22" y2="15.5"></line>
            <polyline points="22 8.5 12 15.5 2 8.5"></polyline>
            <polyline points="2 15.5 12 8.5 22 15.5"></polyline>
            <line x1="12" x2="12" y1="2" y2="8.5"></line>
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-byte-white dark:bg-byte-dark text-base-content dark:text-byte-blue rounded-box w-36"
        >
          <li>
            <a href="/api/swagger" class="hover:dark:text-byte-blue">Swagger</a>
          </li>
          <li>
            <a href="/api/elements" class="hover:dark:text-byte-blue"
              >Elements</a
            >
          </li>
          <li>
            <a href="/api/redoc" class="hover:dark:text-byte-blue">ReDoc</a>
          </li>
        </ul>
      </div>
      <button
        type="button"
        class="btn btn-ghost btn-circle"
        onclick="toggleLightMode()"
        id="light-mode-toggle"
        style="display: none"
      >
        <span class="sr-only">Light Mode</span>
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon h-5 w-5"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <circle cx="12" cy="12" r="5"></circle>
            <line x1="12" x2="12" y1="1" y2="3"></line>
            <line x1="12" x2="12" y1="21" y2="23"></line>
            <line x1="4.22" x2="5.64" y1="4.22" y2="5.64"></line>
            <line x1="18.36" x2="19.78" y1="18.36" y2="19.78"></line>
            <line x1="1" x2="3" y1="12" y2="12"></line>
            <line x1="21" x2="23" y1="12" y2="12"></line>
            <line x1="4.22" x2="5.64" y1="19.78" y2="18.36"></line>
            <line x1="18.36" x2="19.78" y1="5.64" y2="4.22"></line>
          </svg>
        </div>
      </button>
      <button
        type="button"
        class="btn btn-ghost btn-circle"
        onclick="toggleDarkMode()"
        id="dark-mode-toggle"
        style="display: block"
      >
        <span class="sr-only">Dark Mode</span>
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon h-5 w-5"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
          </svg>
        </div>
      </button>
      <button class="btn btn-ghost btn-circle">
        <div class="indicator">
          <!-- https://feathericons.dev/?search=bell&iconset=feather -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon h-5 w-5"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
          </svg>
          <span class="badge badge-xs badge-primary indicator-item"></span>
        </div>
      </button>
    </div>
  </div>
</header>
